<html>
    <head>
        <title>Laura - Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Laura - Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 04.11.2016, 12:30</p>
            <h2><a href="">Let's create a Django Project</a></h2>
            <p>In this section we will create our project</p>
        </div>

        <div>
            <p>published: 05.11.2016, 13:00</p>
            <h2><a href="">Let's create now a model</a></h2>
            <p>This section will cover the creation of a model</p>
        </div>
    </body>
</html>
